:root {
    --default-gap: 1rem;
    --primary-text-color-blue: rgb(0, 132, 253);
    --secondary-text-color-grey: rgb(90, 110, 127);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container-m {
    width: 90%;
    margin: auto;
    min-width: 320px;
}

.container-s {
    width: 80%;
    margin: auto;
    min-width: 320px;
}

.container-xs {
    width: 70%;
    margin: auto;
    min-width: 320px;
}

.container-xxs {
    width: 60%;
    margin: auto;
    min-width: 320px;
}

section {
    margin: 2rem 0px;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    border-radius: 15px;
}

.clr-white {
    color: white;
}

.clr-primary-blu {
    color: rgb(0, 132, 253);
}

.btn {
    border:none;
    padding: 0.3rem 0.5rem;
    border-radius: 20px;
}

.centered-text {
    text-align: center;
}

/*  HEADER  */

nav {
    background-color: rgb(0, 132, 253);
    padding: 1rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-menu-right {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    font-size: 2rem;
}

.desktop-nav-menu {
    display: none;
}

.desktop-nav-menu li {
    display: inline;
    padding: 0.5rem;
}

.desktop-nav-menu a {
    text-decoration: none;
}

.nav-btn {
    margin: 0px 0.5rem;
    background-color: white;
}

/*  MAIN  */

.jumbo-container {
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
}

.jumbo-col {
    background-color: rgb(181, 221, 255);
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
}

.jumbo-col .col-1-2 {
    flex-basis: calc((100% / 2) - var(--default-gap));
}

.jumbo-col-2-3-text {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.jumbo-container h2, i{
    color: var(--primary-text-color-blue);
}

.jumbo-container p {
    color: var(--secondary-text-color-grey);
}

.jumbo-col-2-3-text button {
    background-color: rgb(0, 132, 253);
    font-size: 1rem;
    padding: 0.5rem 3rem;
    margin-right: 25%;
}

.jumbo-col-2-3-text h2 {
    padding-bottom: 1.5rem;
}

.jumbo-col-2-3-text p {
    padding-bottom: 1.5rem;
}

.jumbo-col-img img {
    width: 100%;
}

.col-1-2-img  {
    display: flex;
    align-items: flex-end;
}

.jumbo-col-1-3-text {
    padding: 2rem;
}

.jumbo-col-1-3-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jumbo-col-1-3-text i {
    font-size: 5rem;
}

.jumbo-col-1-3-text h2 {
    padding-bottom: 1.5rem;
}

.jumbo-col-1-3-text i {
    padding-bottom: 1.5rem;
}

#strategic-planning-section {
    background-color: rgb(151, 146, 228);;
}

.strategic-planning-row {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.strategic-planning-section-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
}

.strategic-planning-col img {
    width: 100%;
}

.strategic-planning-row .strategic-planning-col:nth-child(2) {
    margin: 1rem;
    padding: 1rem;
    border-radius: 50px;
    background-color: white;
}
.strategic-planning-button {
    position: relative;
    transform: translate(-50%);
    left: 50%;
    border-radius: 50%;
    width: 3rem;
    aspect-ratio: 1/1;
    font-size: 1.5rem;
    background-color: rgb(151, 146, 228);
    margin-bottom: 1rem;
}

.fa-arrow-down {
    color: black;
}

#testimonials-section {
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
}

.testimonials-row {
    border-radius: 50px;
    background-color: rgb(151, 146, 228);
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.testimonial-title {
    background-color: white;
    margin-bottom: -2rem;
}

.testimonials-row h2 {
    color:rgb(151, 146, 228);
}

.testimonials-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--default-gap);
}

.testimonials-col img {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.testimonials-col-text {
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards-section {
    background-color: rgb(151, 146, 228);
    padding: 2rem 0rem;
}

.cards-section-text h2 {
    padding-bottom: 2rem;
}

.cards-number {
    font-size: 4rem;
    color: rgb(151, 146, 228);
    margin-bottom: 1rem;
}

.cards-row {
    background-color: rgb(151, 146, 228);
}

.col-cards {
    padding: 2rem;
    background-color: white;
}

.col-cards h2 {
    color: rgb(151, 146, 228);
    margin-bottom: 1rem;
}

.col-cards button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 30%;
    background-color: rgb(151, 146, 228);
}

#about-us-section {
    padding: 2rem 0rem;
}

.about-us-row .col-2-3 {
    flex-basis: calc(((100% / 3) * 2) - var(--default-gap));
}

.about-us-row .col-1-3 {
    flex-basis: calc((100% / 3) - var(--default-gap));
}

.about-us-col-text {
    padding-top: 2rem;
}

.about-us-col-text h2 {
    color: rgb(151, 146, 228);
    font-size: 2rem;
    padding-bottom: 2rem;
}

.about-us-img {
    width: 50%;
    position: relative;
}

.about-us-img img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.about-us-img i{
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 3.5rem;
    color: rgb(151, 146, 228);
}

.about-us-content h3 {
    color: rgb(151, 146, 228);
    padding-bottom: 2rem;
}

.about-us-content button {
    background-color: rgb(151, 146, 228);
    margin-bottom: 2rem;
}

#free-trial-section {
    background-color: rgb(151, 146, 228);
    padding: 2rem 0rem;
    margin: 0;
}

.free-trial-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--default-gap);
}

.free-trial-container h2 {
    font-size: 3rem;
    color: rgb(253, 193, 95);
}

.free-trial-container div {
    color: rgb(213, 212, 244);
}

.free-trial-container p {
    max-width: 400px;
}

.free-trial-button {
    color: rgb(151, 146, 228);
    border-radius: 25px;
    padding: .9rem 3.5rem;
    font-size: 1.2rem;
}

footer {
    background-color: black;
}

.footer-container {
    width: 90%;
}

footer p {
    margin: auto;
    max-width: 300px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* RESPONSIVE TABLET DIMENSION */
@media screen and (min-width: 580px) {

    .jumbo-row {
        flex-direction: row;
    }

    .jumbo-row .col-1-3{
        flex-basis: calc((100% / 3) - var(--default-gap));
    }
    
    .jumbo-row .col-2-3 {
        flex-basis: calc(((100% / 3) * 2) - var(--default-gap));
    }
    
    .testimonials-row {
        border-radius: 15px;
        background-color: rgb(151, 146, 228);
    }

    .testimonial-title {
        background-color: white;
    }

    .testimonials-col {
        flex-direction: row;
    }

    .testimonials-col img{
        margin-left: 1rem;
        width: 20%;
    }

    .testimonials-col-text {
        padding-left: 1rem;
        padding-right: 1rem;
        align-items: flex-start;
    }

    .cards-row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cards-row .col-1-2 {
        flex-basis: calc((100% / 2) - var(--default-gap));
    }

    .about-us-row {
        flex-direction: row;
        height: 500px;
    }

    .about-us-img {
        width: 100%;
    }

    #free-trial-section .container-s {
        width: 80%;
    }

    footer .container-xs {
        width: 70%;
    }
}


/* RESPONSIVE DESKTOP DIMENSION */
@media screen and (min-width: 992px) {

    .container-m {
        max-width: 920px;
        width: 80%;
    }

    .nav-menu-right .hamburger-menu {
        display: none;
    }

    .desktop-nav-menu {
        display: flex;
        align-items: center;
    }

    .jumbo-col.col-2-3 {
        flex-direction: row;
    }
    
    .jumbo-col-img {
        display: flex;
        align-items: flex-end;
    }

    .jumbo-col-2-3-text button {
        padding: 0.5rem 1rem;
    }

    #strategic-planning-section .container-xs {
        width: 70%;
        margin: auto;
    }

    .strategic-planning-row {
        flex-direction: row;
    }

    .strategic-planning-row .strategic-planning-col:nth-child(1) img {
        margin-bottom: 100px;
    }

    .strategic-planning-row .strategic-planning-col:nth-child(2) {
        margin-top: 100px;
    }

    .col-1-2 {
        flex-basis: calc((100% / 2) - var(--default-gap));
    }

    .cards-row .col-1-3 {
        flex-basis: calc((100% / 3) - var(--default-gap));
    }

    #free-trial-section .container-xs {
        width: 70%;
    }

    footer .container-xxs {
        width: 60%;
    }
}