:root {
    --default-gap: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-m {
    width: 90%;
    margin: auto;
    min-width: 320px;
}

section {
    margin: 2rem 0px;
}

.row {
    width: 100%;
    display: flex;
    gap: var(--default-gap);
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    border-radius: 15px;
}

/*  HEADER  */

.nav-container {
    height: 50px;
    background-color: rgb(0, 132, 253);
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    background-color: blue;
    width: 100px;
}

.nav-hamburger {
    background-color: blue;
    width: 100px;
}

#jumbo-section {
    background-color: yellow;
}

.jumbo-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
}

.jumbo-row {
    background-color: orange;
    height: 1000px;
    flex-direction: column;
}

.jumbo-col {
    background-color: red;
}

#strategic-planning-section {
    background-color: green;
}

.strategic-planning-section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
}

.strategic-planning-row {
    background-color: greenyellow;
    height: 1000px;
    flex-direction: column;
}

.strategic-planning-col {
    background-color: rgb(65, 212, 65);
}

#testimonials-section {
    background-color: pink;
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
}

.testimonials-row {
    border-radius: 15px;
    height: 500px;
    background-color: purple;
}

#cards-section {
    background-color: brown;
}

.cards-row {
    background-color: beige;
    flex-direction: column;
    height: 3000px;
}

.col-cards { 
    background-color: rgb(216, 156, 78);
}

/* RESPONSIVE TABLET DIMENSION */
@media screen and (min-width: 480px) {

    .jumbo-row {
        height: 500px;
        flex-direction: row;
    }

    .jumbo-row .col-1-3 {
        flex-basis: calc((100% / 3) - var(--default-gap));
    }
    
    .jumbo-row .col-2-3 {
        flex-basis: calc(((100% / 3) * 2) - var(--default-gap));
    }
    
    .testimonials-row {
        border-radius: 15px;
        height: 250px;
        background-color: purple;
    }

    .cards-row {
        flex-direction: row;
        flex-wrap: wrap;
        height: 1500px;
    }

    .cards-row .col-1-2 {
        flex-basis: calc((100% / 2) - var(--default-gap));
    }
}

/* RESPONSIVE DESKTOP DIMENSION */
@media screen and (min-width: 992px) {

    .container-m {
        max-width: 920px;
        width: 80%;
    }

    .strategic-planning-row {
        flex-direction: row;
        height: 500px;
    }

    .col-1-2 {
        flex-basis: calc((100% / 2) - var(--default-gap));
    }

    .container-xs {
        padding: 0px 5rem;
    }

    .cards-row {
        height: 500px;
    }

    .cards-row .col-1-3 {
        flex-basis: calc((100% / 3) - var(--default-gap));
    }
}