:root {
    --default-gap: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container-m {
    width: 90%;
    margin: auto;
    min-width: 320px;
}

.container-s {
    width: 80%;
    margin: auto;
    min-width: 320px;
}

.container-xs {
    width: 70%;
    margin: auto;
    min-width: 320px;
}

.container-xxs {
    width: 60%;
    margin: auto;
    min-width: 320px;
}

section {
    margin: 2rem 0px;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    border-radius: 15px;
}

.clr-white {
    color: white;
}

.clr-primary-blu {
    color: rgb(0, 132, 253);
}

.btn {
    border:none;
    padding: 0.3rem 0.5rem;
    border-radius: 20px;
}

/*  HEADER  */

nav {
    background-color: rgb(0, 132, 253);
    padding: 1rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-menu-right {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    font-size: 2rem;
}

.desktop-nav-menu {
    display: none;
}

.desktop-nav-menu li {
    display: inline;
    padding: 0.5rem;
}

.desktop-nav-menu a {
    text-decoration: none;
}

.nav-btn {
    margin: 0px 0.5rem;
    background-color: white;
}

/*  MAIN  */

#jumbo-section {
    background-color: yellow;
}

.jumbo-container {
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
}

.jumbo-row {
    background-color: orange;
    height: 1000px;
}

.jumbo-col {
    background-color: red;
}

#strategic-planning-section {
    background-color: green;
}

.strategic-planning-section-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
}

.strategic-planning-row {
    background-color: greenyellow;
    height: 1000px;
}

.strategic-planning-col {
    background-color: rgb(65, 212, 65);
}

#testimonials-section {
    background-color: pink;
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
}

.testimonials-row {
    border-radius: 15px;
    height: 500px;
    background-color: purple;
}

#cards-section {
    background-color: brown;
}

.cards-row {
    background-color: beige;
    height: 3000px;
}

.col-cards { 
    background-color: rgb(216, 156, 78);
}

.about-us-row {
    background-color: yellow;
    height: 2000px;
}

.about-us-col {
    background-color: orange;
}

.about-us-row .col-2-3 {
    flex-basis: calc(((100% / 3) * 2) - var(--default-gap));
}

.about-us-row .col-1-3 {
    flex-basis: calc((100% / 3) - var(--default-gap));
}

.free-trial-container {
    width: 90%;
    background-color: fuchsia;
    height: 500px;
}

footer {
    background-color: black;
}

.footer-container {
    width: 90%;
    background-color: grey;
    height: 300px;
}

/* RESPONSIVE TABLET DIMENSION */
@media screen and (min-width: 480px) {

    .jumbo-row {
        height: 500px;
        flex-direction: row;
    }

    .jumbo-row .col-1-3 {
        flex-basis: calc((100% / 3) - var(--default-gap));
    }
    
    .jumbo-row .col-2-3 {
        flex-basis: calc(((100% / 3) * 2) - var(--default-gap));
    }
    
    .testimonials-row {
        border-radius: 15px;
        height: 250px;
        background-color: purple;
    }

    .cards-row {
        flex-direction: row;
        flex-wrap: wrap;
        height: 1500px;
    }

    .cards-row .col-1-2 {
        flex-basis: calc((100% / 2) - var(--default-gap));
    }

    .about-us-row {
        flex-direction: row;
        height: 500px;
    }

    #free-trial-section .container-s {
        width: 80%;
    }

    footer .container-xs {
        width: 70%;
    }
}


/* RESPONSIVE DESKTOP DIMENSION */
@media screen and (min-width: 992px) {

    .nav-menu-right .hamburger-menu {
        display: none;
    }

    .desktop-nav-menu {
        display: flex;
        align-items: center;
    }

    .container-m {
        max-width: 920px;
        width: 80%;
    }

    #strategic-planning-section .container-xs {
        width: 70%;
        margin: auto;
    }

    .strategic-planning-row {
        flex-direction: row;
        height: 500px;
    }

    .col-1-2 {
        flex-basis: calc((100% / 2) - var(--default-gap));
    }

    .cards-row {
        height: 500px;
    }

    .cards-row .col-1-3 {
        flex-basis: calc((100% / 3) - var(--default-gap));
    }

    #free-trial-section .container-xs {
        width: 70%;
    }

    footer .container-xxs {
        width: 60%;
    }
}